<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <connectionStrings>
    <add name="RingerDB" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=DataBase\tvw2003_.mdb;Persist Security Info=False;" />
    <add name="DopingTest.Properties.Settings.tvw2003_ConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\DataBase\tvw2003_.mdb"
      providerName="System.Data.OleDb" />
  </connectionStrings>
</configuration>
